<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Memastikan aplikasi dapat menggunakan fitur kamera -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <!-- Izin yang diperlukan untuk aplikasi -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_kelana_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_kelana_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pengaduan_mahasiswa"
        tools:targetApi="31">

        <!-- Provider untuk mengakses file menggunakan FileProvider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Pengaduan_mahasiswa">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity lainnya -->
        <activity
            android:name=".ProfileActivity"
            android:exported="true"
            android:label="Profile"
            android:theme="@style/Theme.Pengaduan_mahasiswa" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="Login"
            android:theme="@style/Theme.Pengaduan_mahasiswa" />
        <activity
            android:name=".PengaduanActivity"
            android:exported="true"
            android:label="Pengaduan"
            android:theme="@style/Theme.Pengaduan_mahasiswa" />
        <activity
            android:name=".PelacakanActivity"
            android:exported="true"
            android:label="Pelacakan"
            android:theme="@style/Theme.Pengaduan_mahasiswa" />
        <activity
            android:name=".NotifikasiActivity"
            android:exported="true"
            android:label="Notifikasi"
            android:theme="@style/Theme.Pengaduan_mahasiswa" />
        <activity
            android:name=".FormActivity"
            android:exported="true"
            android:label="Form"
            android:theme="@style/Theme.Pengaduan_mahasiswa" />
    </application>
</manifest>
