<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Izin yang diperlukan -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_kelana_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_kelana_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pengaduan_mahasiswa"
        android:requestLegacyExternalStorage="true">

        <!-- Metadata Firebase -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_kelana_logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/notification_color" />

        <!-- FileProvider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.pengaduan_mahasiswa.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- Main Activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Pengaduan_mahasiswa">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Aktivitas lain -->
        <activity android:name=".ProfileActivity" android:exported="false" android:label="Profile" />
        <activity android:name=".MainActivity" android:exported="false" android:label="Beranda" />
        <activity android:name=".FormActivity1" android:exported="false" android:label="Form Activity 1" />
        <activity android:name=".PengaduanActivity" android:exported="false" android:label="Pengaduan" />
        <activity android:name=".PelacakanActivity" android:exported="false" android:label="Pelacakan" />
        <activity android:name=".NotifikasiActivity" android:exported="false" android:label="Notifikasi" />
        <activity android:name=".FormActivity" android:exported="false" android:label="Form" />
        <activity android:name=".MainRegister" android:exported="true" android:label="Registrasi" />

        <!-- Admin Activity -->
        <activity android:name=".AdminActivity" android:exported="true" android:label="Admin" />

    </application>
</manifest>
